<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5>Add Room Assignment</h5>
                </div>

                <div class="card-body">
                    <div class='row' id="non-printable">
                        <form method="post" style="padding-left: 2em;" id="searchForm">
                            <div class='col-md-12'>
                                <div class='form-row'>
                                    <div class="col-md-3">
                                        <p>Course Code:</p>
                                    </div>

                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder='Course Code' id='inputCC' name='Course Code'>
                                    </div>

                                    <div class="col-md-3">
                                        <p>Group Number:</p>
                                    </div>

                                    <div class="col">
                                        <input type="number" class="form-control" placeholder='Group #' id='inputGN' name='Group Number '>
                                    </div>


                                </div>
                            </div>

                            <br>

                            <div class='col-md-12'>
                                <div class='form-row'>
                                    <div class="col-md-3">
                                        <p>Day Assigned:</p>
                                    </div>

                                    <div class="col">
                                        <select class="form-control" name="inputDayAssigned" id="inputDayAssigned">
                                            <option value="M">Monday</option>
                                            <option value="T">Tuesday</option>
                                            <option value="W">Wednesday</option>
                                            <option value="TH">Thursday</option>
                                            <option value="F">Friday</option>
                                            <option value="SAT">Saturday</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class='col-md-12'>
                                <div class='form-row'>
                                    <div class="col-md-3">
                                        <p>Room Name:</p>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder='LB485TC, LB306TC' id='inputRN' name='Room Name'>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class='col-md-12'>
                                <div class='form-row'>
                                    <div class="col-md-3">
                                        <p>Start - End Time:</p>
                                    </div>

                                    <div class="col">
                                        <input type="time" class="form-control" placeholder='Start Time' id='inputStartTime' name='Start Time'>
                                    </div>
                                    
                                    <div class="col">
                                        <input type="time" class="form-control" placeholder='End Time' id='inputEndTime' name='End Time'>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class='col-md-6'>
                                <button type="button" style="width: 100%" id="enterBtn" class="btn btn-info">
                                    <span id="refresh-spinner">
                                        <span id="refresh-label">Enter</span>
                                    </span>
                                </button>
                            </div>

                        </form>
                    </div>

                    <div>
                        <h2 id="notificationmessage"></h2>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        $(".toggle-printable-btn").on("click", function() {
            button.togglePrint();
        });

        $("#printBtn").on("click", function() {
            if ($(".toggle-printable-btn").hasClass("btn-outline-light")) {
                button.togglePrint();
            }
            window.print();
        });

        $("#enterBtn").on("click", function() {

            var sendRoom = {};

            sendRoom.courseCode = $("#inputCC").val();
            sendRoom.roomID = 0;
            sendRoom.dayAssigned = $("#inputDayAssigned").val();
            sendRoom.roomNumber = $("#inputRN").val();
            sendRoom.groupNumber = parseInt($("#inputGN").val());
            sendRoom.startTime = $("#inputStartTime").val();
            sendRoom.endTime = $("#inputEndTime").val();
            console.log(sendRoom);

            $.ajax({
                url: '/setRoomAssignments',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: sendRoom,
                success: function(data) {
                    $("#notificationmessage").html("Course '" + data.courseCode + "', Group No. '" + data.groupNumber + "' has been assigned to Room '" + data.roomNumber + "' into the database.");

                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    console.log("yeehaw");
                    //button.error();
                }
            })
        });

    });

</script>
