<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5>Add Schedule</h5>
                </div>
                
                <div class="card-body">
                    <div class="container">
                        <div class='row' id="non-printable">
                            <form method="post" style="padding-left: 2em;" id="searchForm">
                                <div class='col-md-12'>
                                    <div class='form-row'>
                                        <div class="col-md-3">
                                            <p>Course Code:</p>
                                        </div>

                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder='Course Code' id='inputCC' name='Course Code'>
                                        </div>

                                        <div class="col-md-3">
                                            <p>Group Number:</p>
                                        </div>

                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder='Group #' id='inputGN' name='Group Number'>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class='col-md-12'>
                                    <div class='form-row'>
                                        <div class="col-md-3">
                                            <p>Course Name:</p>
                                        </div>

                                        <div class="col">
                                            <input type="text" class="form-control" placeholder='Course Name' id='inputCN' name='Course Name'>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class='col-md-12'>
                                    <div class='form-row'>
                                        <div class="col-md-3">
                                            <p>Department:</p>
                                        </div>

                                        <div class="col">
                                            <input type="text" class="form-control" placeholder='Department' id='inputDept' name='Department'>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class='col-md-12'>
                                    <div class='form-row'>
                                        <div class="col-md-3">
                                            <p>Teacher ID Number:</p>
                                        </div>

                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder='Teacher ID' id='inputteachID' name='Teacher ID'>
                                        </div>

                                        <div class="col-md-3">
                                            <p>ID Number:</p>
                                        </div>

                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder='USER ID' id='inputuserID' name='USER ID'>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class='col-md-6'>
                                    <button type="button" style="width: 100%" id="enterBtn" class="btn btn-info">
                            <span id="refresh-spinner">
                                <span id="refresh-label">Add</span>
                            </span>
                        </button>
                                </div>
                            </form>
                        </div>

                        <div>
                            <h2 id="notificationmessage" style="color:white;"></h2>
                        </div>

                    </div>
                </div>

                <div class="card-footer">
                    <h5 class="text-center">To enroll a teacher in a schedule, put the teacher's ID number on "ID Number" input box and leave the "Teacher ID Number" blank.</h5>
                </div>
            </div>

        </div>



        <br>

    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        $(".toggle-printable-btn").on("click", function() {
            button.togglePrint();
        });

        $("#printBtn").on("click", function() {
            if ($(".toggle-printable-btn").hasClass("btn-outline-light")) {
                button.togglePrint();
            }
            window.print();
        });

        $("#enterBtn").on("click", function() {

            var sendData = {};
            sendData.courseCode = $("#inputCC").val();
            sendData.courseID = 0;
            sendData.courseName = $("#inputCN").val();
            sendData.department = $("#inputDept").val();
            sendData.groupNumber = parseInt($("#inputGN").val());
            sendData.teacherId = parseInt($("#inputteachID").val());
            sendData.userID = parseInt($("#inputuserID").val());


            $.ajax({
                url: '/setSchedule',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: sendData,
                success: function(data) {
                    $("#notificationmessage").html("Schedule for '" + data.courseCode + "' has been inserted into the database.");


                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    console.log("yeehaw");
                    //button.error();
                }
            })
        });

    });

</script>
