<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class='row' id="non-printable">
            <div class='col-md-12'>
                <form method="post" style="padding-left: 2em;" id="searchForm">
                    <div class='form-row'>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder='Search here' id='searchQuery' name='search-value'>
                        </div>
                        <div class="col-md-4">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="schedCheck1" name="radioFilter" class="custom-control-input" value="courseCodeCheck">
                                <label class="text-white custom-control-label" for="schedCheck1">Course Code</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="schedCheck2" name="radioFilter" class="custom-control-input" value="groupNumberCheck">
                                <label class="text-white custom-control-label" for="schedCheck2">Group Number</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type="button" style="width: 85%" id="refreshBtn" class="btn btn-info">
                                <span id="refresh-spinner">
                                    <span id="refresh-label">Search/Refresh</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="col">
                <div class="card big-scrollable">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style='width: 15%'>Group Number</th>
                                <th style='width: 15%'>Course Code</th>
                                <th>Teacher</th>
                                <!-- <th>User Enrolled</th> -->
                            </tr>
                        </thead>
                        <tbody id="scheduleTable">

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Update Schedule</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class='row' id="non-printable">
                                <form method="post" style="padding-left: 2em;" id="searchForm">
                                <div class='col-md-12'>
                                        <div class='form-row'>
                                            <div class="col-md-2">
                                                <span style="font-size:13px;">Course Code:</span>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" placeholder='Course Code' id='inputCC' name='Course Code'>
                                            </div>
                                            <div class="col-md-4">
                                                 <input type="hidden" class="form-control" placeholder='Course ID' id='inputCID' name='Course ID'> 
                                            </div>
                                        </div>
                                        <br>

                                  </div>
                                <div class='col-md-12'>
                                        <div class='form-row'>
                                             <div class="col-md-2">
                                                <span style="font-size:13px;">Course Name, Department:</span>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" placeholder='Course Name' id='inputCN' name='Course Name'>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder='Department' id='inputDept' name='Department'>
                                            </div>

                                        </div>
                                        <br>

                                  </div>
                                 <div class='col-md-12'>
                                        <div class='form-row'>
                                            <div class="col-md-2">
                                                <span style="font-size:13px;">Group Number, Teacher ID, User ID: </span>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="number" class="form-control" placeholder='Group #' id='inputGN' name='Group Number'>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="number" class="form-control" placeholder='Teacher ID' id='inputteachID' name='Teacher ID'>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="number" class="form-control" placeholder='USER ID' id='inputuserID' name='USER ID'>
                                            </div>
                                             </div>
                                        <br>

                                  </div>

                                        <div class='col-md-2'>
                                                <button type="button" style="width: 85%" id="updateBtn" class="btn btn-info">
                                                    <span id="refresh-spinner">
                                                        <span id="refresh-label">Update</span>
                                                    </span>
                                                </button>
                                            </div>

                                </form>
                            </div>
        
                    <div>
                        <h2 id="notificationmessage" style="color:blue;">- -</h2>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            
           
        </div>
        
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        $(".toggle-printable-btn").on("click", function() {
            button.togglePrint();
        });

        $("#printBtn").on("click", function() {
            if($(".toggle-printable-btn").hasClass("btn-outline-light")){
                button.togglePrint();
            }
            window.print();
        });

        $("#refreshBtn").on("click", function() {
            var tableData;
            var checkData = {};
            checkData.filter = $('input[name="radioFilter"]:checked').val();
            checkData.searchQuery = $("#searchQuery").val();

            button.loading();

            $.ajax({
                url: '/getSchedule',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: checkData,
                success: function(data) {
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            tableData += "<tr>";
                            tableData += "<td style='width: 15%'>Group #" + data[i].groupNumber + "</td>";
                            tableData += "<td style='width: 15%'>" + data[i].courseCode + "</td>";
                            tableData += "<td style='width: 50%'>" + data[i].teacherId + "</td>";
                            //tableData += "<td style='width: 20%'>" + data[i].presence + "</td>";
                            //tableData += "<td>" + data[i].userID + "</td>";
                            tableData += "<td><button class='btn btn-primary editBtn' data-dismiss='modal' aria-label='Close' aria-courseid='"+ data[i].courseID +"' aria-teacher='" + data[i].teacherId + "' aria-groupnumber='" + data[i].groupNumber + "' aria-coursecode='" + data[i].courseCode + "' data-department='" + data[i].department + "' data-name='" + data[i].courseName + "' + aria-userid='"+data[i].userID+"'>Edit</button></td>";
                            tableData += "</tr>";
                            
                           
                            $("#scheduleTable").html(tableData);
                            //console.log(i);
                            $(".editBtn").on("click", function() {
                                    console.log("YOOOOOOOO");
                                    console.log($(this).attr("aria-courseID"));
                                    
                                $("#editModal").modal("show");
                                
                                    $("#inputCC").val($(this).attr("aria-coursecode"));
                                    $("#inputCID").val($(this).attr("aria-courseid"));
                                    $("#inputCN").val($(this).data("name"));
                                    $("#inputDept").val($(this).data("department"));
                                    $("#inputGN").val($(this).attr("aria-groupnumber"));
                                    $("#inputteachID").val($(this).attr("aria-teacher"));
                                    $("inputuserID").val($(this).attr("aria-userid"));
                                
                                $("#updateBtn").on("click", function(){
                                    
                                        var updateData = {};
                                        updateData.courseCode = $("#inputCC").val();
                                        updateData.courseID =  $("#inputCID").val();
                                        updateData.courseName = $("#inputCN").val();
                                        updateData.department = $("#inputDept").val();
                                        updateData.groupNumber = $("#inputGN").val();
                                        updateData.teacherID = $("#inputteachID").val();
                                        updateData.userID = $("#inputuserID").val();
                                        console.log(updateData);
                                        
                                     $.ajax({
                                        url: '/updateSched',
                                        type: 'GET',
                                        contentType: 'application/json; charset-utf-8',
                                        dataType: 'json',
                                        data: updateData,
                                        success: function(data) {
                                           $("#notificationmessage").html("Schedule for '" + data.courseCode + "' has been updated to the database.");


                                        },
                                        error: function(xhr, exception) {
                                            console.log("Error " + xhr.status + ": " + exception.toString());
                                            console.log("yeehaw");
                                            //button.error();
                                        }
                                    })
                                    
                                });
                              
                            });
                        }
                        
                    }

                    button.success(data.length);

                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    button.error();
                }
            })
        });

    });

</script>
