<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class='row'>
            <div class='col-md-12'>
                <form method="post" style="padding-left: 2em;" action="network.php" id="searchForm">
                    <div class='form-row'>
                        <div class="col">
                            <input type="text" class="form-control" id="distributorIDNo" placeholder='ID Number' name='searchDistributor'>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Course Code</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Group Number</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Day</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Room</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type="button" style="width: 55%" id="searchBtn" class="btn btn-primary">Search</button>
                            <button type="button" id="refreshBtn" class="btn btn-info">
                                <span id="refresh-spinner">
                                    <span id="refresh-label">Refresh</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Group Number | Course Code</th>
                            <th>Day | Room | Time</th>
                        </tr>
                    </thead>
                    <tbody id="scheduleTable">

                    </tbody>
                </table>
            </div>
        </div>

    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        $("#refreshBtn").on("click", function() {
            var tableData;

            $("#refresh-spinner").addClass("spinner-border").addClass("spinner-border-sm");
            $("#refresh-label").html(" ");
            // spinner-border-sm

            $.ajax({
                url: '/getSchedule',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                processData: false,
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i].courseCode);
                        console.log(data[i].groupNumber);
                        tableData += "<tr>";
                        tableData += "<td>" + data[i].courseCode + "</td>";
                        tableData += "<td>" + data[i].groupNumber + "</td>";
                        tableData += "<td>" + data[i].teacherId + "</td>";
                        tableData += "<td>" + data[i].userID + "</td>";
                        tableData += "</tr>";
                    }

                    $("#refresh-spinner").removeClass();
                    $("#refresh-label").html("Refresh");
                    $("#scheduleTable").html(tableData);

                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                }
            })
        });

    });

</script>
