<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class='row'>
            <div class='col-md-12'>
                <form method="post" style="padding-left: 2em;" action="network.php" id="searchForm">
                    <div class='form-row'>
                        <div class="col">
                            <input type="text" class="form-control" id="searchQuery" placeholder='Search here' name='search-value'>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="roomCheck1" name="radioFilter" class="custom-control-input" value="courseCodeCheck">
                                <label class="custom-control-label" for="roomCheck1">Course Code</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="roomCheck2" name="radioFilter" class="custom-control-input" value="groupNumberCheck">
                                <label class="custom-control-label" for="roomCheck2">Group Number</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="roomCheck3" name="radioFilter" class="custom-control-input" value="dayCheck">
                                <label class="custom-control-label" for="roomCheck3">Day</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="roomCheck4" name="radioFilter" class="custom-control-input" value="roomCheck">
                                <label class="custom-control-label" for="roomCheck4">Room</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type="button" style="width: 85%" id="refreshBtn" class="btn btn-info">
                                <span id="refresh-spinner">
                                    <span id="refresh-label">Search/Refresh</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style='width: 10%'>Group Number</th>
                            <th>Course Code</th>
                            <th>Day | Room | Time</th>
                        </tr>
                    </thead>
                    <tbody id="roomAssignmentTable">

                    </tbody>
                </table>
            </div>
        </div>

    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        $("#refreshBtn").on("click", function() {
            var tableData;
            var checkData = {};
            checkData.filter = $('input[name="radioFilter"]:checked').val();
            checkData.searchQuery = $("#searchQuery").val();

            button.loading();

            $.ajax({
                url: '/getRoomAssignments',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: checkData,
                success: function(data) {
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            tableData += "<tr>";
                            tableData += "<td style='width: 10%'> Group #" + data[i].groupNumber + "</td>";
                            tableData += "<td>" + data[i].courseCode + "</td>";
                            tableData += "<td><strong>" + data[i].dayAssigned + "</strong> | " + data[i].roomNumber + " | ";
                            tableData += data[i].startTime + " - " + data[i].endTime + "</td>";
                            tableData += "</tr>";

                            $("#roomAssignmentTable").html(tableData);
                        }
                    }

                    button.success(data.length);
                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    button.error();
                }
            })
        });

    });

</script>
