<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class='row' id="non-printable">
            <div class='col'>
                <form method="post" style="padding-left: 2em;" id="searchForm">
                    <div class='form-row'>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="searchQuery" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span id="monthLabel" data-label="All">All</span></button>
                                    <div class="dropdown-menu" id="monthPickerDropdown">
                                        <a class="dropdown-item" id="monthPicker">All</a>
                                        <a class="dropdown-item" id="monthPicker">January</a>
                                        <a class="dropdown-item" id="monthPicker">February</a>
                                        <a class="dropdown-item" id="monthPicker">March</a>
                                        <a class="dropdown-item" id="monthPicker">April</a>
                                        <a class="dropdown-item" id="monthPicker">May</a>
                                        <a class="dropdown-item" id="monthPicker">June</a>
                                        <a class="dropdown-item" id="monthPicker">July</a>
                                        <a class="dropdown-item" id="monthPicker">August</a>
                                        <a class="dropdown-item" id="monthPicker">September</a>
                                        <a class="dropdown-item" id="monthPicker">October</a>
                                        <a class="dropdown-item" id="monthPicker">November</a>
                                        <a class="dropdown-item" id="monthPicker">December</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="statusCheck1" name="radioFilter" class="custom-control-input" value="courseCodeCheck">
                                <label class="text-white custom-control-label" for="statusCheck1">Course Code</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="statusCheck2" name="radioFilter" class="custom-control-input" value="groupNumberCheck">
                                <label class="text-white custom-control-label" for="statusCheck2">Group Number</label>
                            </div>
                        </div>
                        <div class='col'>
                            <button type="button" style="width:50%" id="refreshBtn" class="btn btn-info">
                                <span id="refresh-spinner">
                                    <span id="refresh-label">Search/Refresh</span>
                                </span>
                            </button>
                            <button type="button" style="width:40%" id="redisplayModalBtn" class="btn btn-secondary">Re-display Result</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-dark mb-3 scrollable">
                        <div class="card-header">Schedule Information</div>
                        <div class="card-body">
                            <h5 class="card-title"><span id="cardSchedTitle">None</span></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-dark"><strong>Teacher:</strong> <span id="cardTeacher"></span></li>
                            <li class="list-group-item"><span id="cardDepartment"></span></li>
                            <!-- <li class="list-group-item">Name: <span id="cardCourseName"></span></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-dark mb-3 scrollable">
                        <div class="card-header">Room Assignments</div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">Day</th>
                                        <th style="width: 35%;">Room</th>
                                        <th>Time</th>
                                        <th style="width: 15%;" id="scheduleTableAction">Action</th>
                                        <!-- <th>User Enrolled</th> -->
                                    </tr>
                                </thead>
                                <tbody id="scheduleTable">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">Status for <span id="statusSchedule"></span>
                            <span style="float:right;">
                                <span id="presentStatus" class="badge badge-pill badge-success">0</span>
                            <span id="absentStatus" class="badge badge-pill badge-danger">0</span>
                            <span id="excusedStatus" class="badge badge-pill badge-info">0</span>
                            </span>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;">Date</th>
                                        <th style="width: 20%;">Status</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody id="statusTable">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Search Results</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style='width: 30%'>Course</th>
                                    <th style='width: 40%'>Department</th>
                                    <th style='width: 20%'>Teacher</th>
                                    <th>Action</th>
                                    <!-- <th>User Enrolled</th> -->
                                </tr>
                            </thead>
                            <tbody id="searchTable">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <br>
    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        var togglePrintEnum = 0;
        var presentCtr = 0;
        var absentCtr = 0;
        var excusedCtr = 0;

        function formatPrintableTable() {
            $('#scheduleTable tr > *:nth-child(4)').toggle(400);

            if (togglePrintEnum == 0) {
                $("#presentStatus").html("Present: " + presentCtr);
                $("#absentStatus").html("Absent: " + absentCtr);
                $("#excusedStatus").html("Excused: " + excusedCtr);
                $('#scheduleTableAction').html(" ");
                togglePrintEnum = 1;
            } else {
                $("#presentStatus").html(presentCtr);
                $("#absentStatus").html(absentCtr);
                $("#excusedStatus").html(excusedCtr);
                $('#scheduleTableAction').html("Action");
                togglePrintEnum = 0;
            }
        }

        $("#printBtn").on("click", function() {
            if ($(".toggle-printable-btn").hasClass("btn-outline-light")) {
                setTimeout(function() {
                    window.print();
                }, 400);

                button.togglePrint();
                formatPrintableTable();
            } else {
                window.print();
            }
        });

        $(".toggle-printable-btn").on("click", function() {
            button.togglePrint();
            formatPrintableTable();
        });

        $("#monthPickerDropdown").on("click", "#monthPicker", function() {
            $("#monthLabel").html($(this).html());
            $("#monthLabel").data("label", $(this).html());
        });

        $("#refreshBtn").on("click", function() {
            var tableData;
            var checkData = {};
            checkData.filter = $('input[name="radioFilter"]:checked').val();
            checkData.searchQuery = $("#searchQuery").val();

            button.loading();

            $.ajax({
                url: '/getSchedule',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: checkData,
                success: function(data) {
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            tableData += "<tr>";
                            tableData += "<td style='width: 30%'>GRP# " + data[i].groupNumber + ",<strong> " + data[i].courseCode + "</strong>, " + data[i].courseName + "</td>";
                            tableData += "<td style='width: 40%'>" + data[i].department + "</td>";
                            tableData += "<td style='width: 20%'>" + data[i].teacherId + "</td>";
                            tableData += "<td><button class='btn btn-primary' data-dismiss='modal' aria-label='Close' aria-teacher='" + data[i].teacherId + "' aria-groupnumber='" + data[i].groupNumber + "' aria-coursecode='" + data[i].courseCode + "' data-department='" + data[i].department + "' data-name='" + data[i].courseName + "' id='searchResultBtn'>Pick</button></td>";
                            tableData += "</tr>";

                            $("#searchTable").html(tableData);
                            $("#searchModal").modal("show");

                            /*
                            
                            <th style='width: 30%'>Course</th>
                            <th style='width: 40%'>Department</th>
                            <th style='width: 20%'>Teacher</th>
                            <th>Action</th>
                            */

                        }
                    }

                    button.success(data.length);
                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    button.error();
                }
            })
        });

        $("#searchModal").on("click", "#searchResultBtn", function() {
            var tableData;
            var checkData = {};

            var teacher = $(this).attr("aria-teacher");
            var department = $(this).data("department");
            var courseName = $(this).data("name");
            checkData.groupNumber = $(this).attr("aria-groupnumber");
            checkData.courseCode = $(this).attr("aria-coursecode");

            button.loading();

            $.ajax({
                url: "/getRoomAssignmentsOnStatus",
                type: "GET",
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: checkData,
                success: function(data) {
                    if (data.length != 0) {
                        $(data).each(function(ndx, value) {
                            var time = value.startTime + " - " + value.endTime;
                            tableData += "<tr>";
                            tableData += "<td>" + dateManager.fullDay(value.dayAssigned) + "</td>";
                            tableData += "<td>" + value.roomNumber + "</td>";
                            tableData += "<td>" + time + "</td>";
                            tableData += "<td><button class='btn btn-primary' aria-roomid='" + value.roomID + "' aria-schedule='" + dateManager.fullDay(value.dayAssigned) + ", " + value.roomNumber + ", " + time + "' id='searchStatusBtn'>Pick</button></td>";
                            tableData += "</tr>";
                        });

                        $("#cardTeacher").html(teacher);
                        $("#cardDepartment").html(department);
                        //$("#cardCourseName").html(courseName);
                        
                        $("#scheduleTable").html(tableData);
                        $("#cardSchedTitle").html("<p>GRP #" + data[0].groupNumber + ", " + data[0].courseCode + ",</p><p> " + courseName + "</p>");
                    }



                    button.success(data.length);
                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    button.error();
                }
            })
        });

        $("#scheduleTable").on("click", "#searchStatusBtn", function() {
            $("#statusSchedule").html("<strong>" + $(this).attr("aria-schedule") + "</strong> on the month of <strong>" + $("#monthLabel").html() + "</strong>");

            var checkData = {};
            var tableData;

            var date = new Date(Date.now());
            var todayYear = date.getFullYear();
            var monthInt = dateManager.fromFullMonthToInt($("#monthLabel").data("label"));

            checkData.roomID = $(this).attr("aria-roomid");
            checkData.year = todayYear;
            checkData.lastYear = todayYear - 1;
            checkData.monthLabel = $("#monthLabel").data("label");
            if (monthInt != "None") {
                checkData.monthInt = monthInt + 1;
            }



            console.log($("#monthLabel").data("label"));
            console.log(monthInt);
            console.log(checkData.monthInt);
            button.loading();
            $("#statusTable").html(" ");

            $.ajax({
                url: "/getStatus",
                type: "GET",
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: checkData,
                success: function(data) {
                    presentCtr = 0;
                    absentCtr = 0;
                    excusedCtr = 0;

                    if (data.length != 0) {
                        $(data).each(function(ndx, value) {
                            switch (value.status) {
                                case "Present":
                                    tableData += "<tr class='table-success'>";
                                    break;
                                case "Absent":
                                    tableData += "<tr class='table-danger'>";
                                    break;
                                case "Excused":
                                    tableData += "<tr class='table-info'>";
                                    break;
                                default:
                                    tableData += "<tr>";
                                    break;
                            }
                            tableData += "<td>" + value.date + "</td>";
                            tableData += "<td>" + value.status + "</td>";
                            tableData += "<td>" + value.remarks + "</td>";
                            tableData += "</tr>";



                            if (value.status == "Present") {
                                presentCtr++;
                            } else if (value.status == "Absent") {
                                absentCtr++;
                            } else if (value.status == "Excused") {
                                excusedCtr++;
                            }
                        });



                        $("#statusTable").html(tableData);

                    }

                    $("#presentStatus").html(presentCtr);
                    $("#absentStatus").html(absentCtr);
                    button.success(data.length);
                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    button.error();
                }
            })
        });

        $("#redisplayModalBtn").on("click", function() {
            $("#searchModal").modal("show");
        });
    });

</script>
