<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class='row'>
            <div class='col-md-12'>
                <form method="post" style="padding-left: 2em;" id="searchForm">
                    <div class='form-row'>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="searchQuery" placeholder='Search here' name='search-value'>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="statusCheck1" name="radioFilter" class="custom-control-input" value="courseCodeCheck">
                                <label class="custom-control-label" for="roomCheck1">Course Code</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="statusCheck2" name="radioFilter" class="custom-control-input" value="groupNumberCheck">
                                <label class="custom-control-label" for="statusCheck2">Group Number</label>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type="button" style="width: 85%" id="refreshBtn" class="btn btn-info">
                                <span id="refresh-spinner">
                                    <span id="refresh-label">Search/Refresh</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-primary mb-3">
                        <div class="card-header">Schedule Information</div>
                        <div class="card-body">
                            <h5 class="card-title">GRP #3, IT 5001</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Teacher: <span id="cardTeacher"></span></li>
                            <li class="list-group-item">Schedule: <span id="cardSchedule"></span></li>
                        </ul>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">Status</div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">Room ID</th>
                                        <th style="width: 10%;">Day</th>
                                        <th style="width: 20%;">Room</th>
                                        <th>Time</th>
                                        <!-- <th>User Enrolled</th> -->
                                    </tr>
                                </thead>
                                <tbody id="scheduleTable">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Search Results</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style='width: 15%'>Group #</th>
                                    <th style='width: 20%'>Course Code</th>
                                    <th style='width: 50%'>Teacher</th>
                                    <th>Action</th>
                                    <!-- <th>User Enrolled</th> -->
                                </tr>
                            </thead>
                            <tbody id="searchTable">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>
<script>
    $(document).ready(function() {
        let button = {
            success: function(resultsCtr) {
                if (resultsCtr != 0) {
                    $("#refreshBtn").removeClass().addClass("btn-success").addClass("btn");
                    $("#refresh-label").html(resultsCtr + " result(s) found");
                } else {
                    $("#refreshBtn").removeClass("btn-info").addClass("btn-danger");
                    $("#refresh-label").html("No results found");
                }

                $("#refresh-spinner").removeClass();

                setTimeout(function() {
                    $("#refreshBtn").removeClass().addClass("btn-info").addClass("btn");
                    $("#refresh-label").html("Search/Refresh");
                }, 3000);
            },
            error: function() {
                $("#refresh-spinner").removeClass();

                $("#refreshBtn").removeClass("btn-info").addClass("btn-danger");
                $("#refresh-label").html("Search ERROR");

                setTimeout(function() {
                    $("#refreshBtn").removeClass().addClass("btn-info").addClass("btn");
                    $("#refresh-label").html("Search/Refresh");
                }, 3000);
            },
            loading: function() {
                $("#refresh-spinner").addClass("spinner-border").addClass("spinner-border-sm");
                $("#refresh-label").html(" ");
            }
        }

        $("#refreshBtn").on("click", function() {
            var tableData;
            var checkData = {};
            checkData.filter = $('input[name="radioFilter"]:checked').val();
            checkData.searchQuery = $("#searchQuery").val();

            button.loading();
            // spinner-border-sm

            $.ajax({
                url: '/getSchedule',
                type: 'GET',
                contentType: 'application/json; charset-utf-8',
                dataType: 'json',
                data: checkData,
                success: function(data) {
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            tableData += "<tr>";
                            tableData += "<td style='width: 15%'>Group #" + data[i].groupNumber + "</td>";
                            tableData += "<td style='width: 20%'>" + data[i].courseCode + "</td>";
                            tableData += "<td style='width: 50%'>" + data[i].teacherId + "</td>";
                            tableData += "<td><button class='btn btn-primary'>Pick</button></td>";
                            tableData += "</tr>";

                            $("#searchTable").html(tableData);
                            $("#searchModal").modal("show");
                        }
                    }

                    button.success(data.length);
                },
                error: function(xhr, exception) {
                    console.log("Error " + xhr.status + ": " + exception.toString());
                    button.error();
                }
            })


        });

        function buttonError() {

        }

        function buttonSuccess(resultsCtr) {

        }

        function buttonLoading() {

        }
    });

</script>
